<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627236967706-31vumakn9it7gs3soavkreesdfglrg4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627236967706-31vumakn9it7gs3soavkreesdfglrg4l</string>
	<key>API_KEY</key>
	<string>AIzaSyA7SalqDCLYL02unRUhnNtuK9RK-St86Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>627236967706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bside.EightFront</string>
	<key>PROJECT_ID</key>
	<string>eight-front</string>
	<key>STORAGE_BUCKET</key>
	<string>eight-front.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627236967706:ios:befc30fef691409aa308a3</string>
</dict>
</plist>